.degradeFondo {
    background: linear-gradient( 135deg, #a8c0ff, /* azul pastel */
    #c1f0f6, /* celeste suave */
    #fbc2eb, /* rosa pastel */
    #fefefe /* blanco */
    );
    height: 100vh; /* ocupa toda la pantalla */
    background-attachment:fixed; /*para que el gradiente no se corte*/
}
.labelApp {
    color: #6c6a7d;
}
/* Tablets y móviles */
@media (max-width: 768px) {
    .ajusteTamañoDispositivo {
        font-size: 1.3rem; /* texto más grande */
        padding: 0.75rem; /* más espacio interno */
    }
}

/* Celulares pequeños */
@media (max-width: 480px) {
    .ajusteTamañoDispositivo {
        font-size: 1.5rem; /* aún más grande */
        padding: 1rem; /* espacio cómodo para el dedo */
    }
}